
*{
    margin: 0px;
}
body{
    direction: rtl;
    margin: 0px;
    background-image: url(pics/spider-man-in-shadow-1080p-gaming-vpy8edcu5m4y4v3a.webp);
    background-size: 100%;
}

header#head1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: B Titr;
}
nav#mainmenu ul{
    background-color: rgba(48, 2, 2,0.2);
    text-align: center;
    
}
nav#mainmenu li{
    display: inline-block;

    margin: 10px;


}

a{
    font-family: B Nazanin;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    color: red;
}
div#search{
    display: inline-block;
    background-color: (0, 0, 0, 0.4);
    width: 120px;
    border-radius: 10px;

}
#search-input{
    display: inline-block;
    width: 100px;
    margin: 5px;
}


